:root {
    --azul: #013e5b;
    --celeste: #00b6e8;
    --rojo: #fe0000;
}

.text-justify {
    text-align: justify !important;
}

.mt-40 {
    margin-top: 40px;
}


.header-bar {
    display: flex;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1em;
    padding-left: 0 !important;
}

.card {
    list-style: none !important;
    background: white;
    box-shadow: 2px 3px 4px lightgray;
    border-radius: 0.3em;
    position: relative;
    height: fit-content;
    min-height: 415px;
    max-width: 450px;
    border-bottom-color: #13357b;
    border-bottom-width: 6px;
}

.card-image-header {
    width: 100%;
    object-fit: cover;
    max-height: 200px;
}

.orange {
    color: var(--orange) !important;
}

.purple-border {
    border-top: 10px solid #782b63;
}

.blue-border {
    border-top: 10px solid var(--blue);
}

.blue-background {
    color: var(--blue)
}

.green-background {
    color: var(--green)
}

.green-border {
    border-top: var(--green) 10px solid
}

.orange-border {
    border-top: var(--orange) 10px solid
}

.card-content {
    padding: 1.5em;
    display: grid;
    gap: 1em;
}

.icon-title-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.icon-title {
    font-size: 1.18rem;
    margin: 0;
    padding: 0;
}

hr.border-light {
    display: block;
    width: 100%;
    margin: 0.42em 0;
    height: 2px;
    background: linear-gradient(90deg, #e3e3e352, #8b8b8b47, #e3e3e36b);
    border: 0;
}

.project-description.truncated {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.read-more-project {
    width: fit-content;
    border: 0;
    padding: .3rem;
}

.card-details {
    list-style-type: none !important;
    margin-left: 0 !important;
    padding-left: 0 !important;
}

.card-details i {
    padding-right: .5em;
    font-size: 1.1em;
}

.detail {
    padding-top: .7em;
}

.active {
    position: absolute;
    right: 5px;
    height: 20px;
    z-index: 20;
    top: 10px;
}

.search-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 25em;
}

.search-form ul {
    padding-left: 1em;
    margin-left: 0;
}

.search-form input {
    padding: 12px 4px 12px 40px;
    border: 1px solid #555;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
    border-radius: 4px;
    outline: none;
    width: 100%;
}

.search-form input:focus-visible {
    box-shadow: 2px 4px 10px #0000007d;
    outline: #3838bba1 solid 2px;
}

@media (max-width: 1800px) {
    .card-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media only screen and (max-width: 1450px) {
    .card-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 1150px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 800px) {
    .card-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .search-form {
        width: 100%;
    }
}

.search-item-holder {
    margin-right: 10px;
    margin-left: 10px;
}

.search-button {
    padding: 5px 1em 5px 1em;
    border: 1px solid black;
    border-radius: 5px;
    color: #565656;
    white-space: nowrap;
    cursor: pointer;
    box-shadow: 1px 2px 12px #80808038;
}

.search-button:hover {
    background: #2164a8;
    transition: 0.2s;
    color: white;
    border: #3838bba1 solid 1px;
}

button {
    cursor: pointer;
}

@media only screen and (max-width: 765px) {
    .search-form input {
        margin-bottom: -12px;
    }
}

.top-searches {
    margin: 0 0 0 1em;
    display: flex;
    align-items: center;
    margin-right: 10px;
    white-space: nowrap;
}

.flex-wrap-break {
    display: flex;
    list-style: none;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: auto;
}

.display-none {
    display: none;
}

.display-flex {
    display: flex;
    flex-wrap: wrap;
}

.section-container {
    padding: 0 2em 0 2em;
}

@media only screen and (max-width: 700px) {
    .search-item-holder {
        margin: 0.5em 2px 0.5em 2px;
    }

    .flexmargin {
        flex: none;
        margin-left: 0px;
    }

    .display-flex {
        display: block !important;
    }

    .flex-wrap-break {
        display: -ms-flexbox;
        width: 100%;
        flex-wrap: wrap;
    }

    .top-searches {
        margin: 0;
    }

    .flex-wrap-break div {
        flex: 0 0 33.333%;
    }

    .section-container {
        padding: 0 1em 0 1em;
    }
}

.subnav {
    display: flex;
    list-style: none !important;
    flex-wrap: wrap;
    margin-top: 1em;
    margin-left: 0 !important;
    padding-left: 0 !important;
    flex: 1;
}

.subnav li {
    /*   margin-right: 1em; */
    padding-top: 1em;
}

.subnav li a {
    text-decoration: none;
    padding: 0.3em 0.8em 0.3em 0.8em;
    position: relative;
    border-radius: 0.1rem;
    text-decoration: none !important;
}

.uk-active a {
    background-color: #22354d;
    color: whitesmoke !important;
}